body {
    background-color: #3CBC8D;
}

#heading {
    text-align:center;
}

#minbt1, #minbt2 {
    padding-left: 3px;
}
#billamount, #tip, #noOfPeople {
    text-align: center;
    background-color:#DCE1E3;    
}

#firstCol, #secondCol {
    background-color:#DCE1E3;
    border: 2px solid black;
}

#tipPer, #total {
    font-size:200%;
}

#tipPP, #totalAmount {
    font-size: 200%; 
    float:right;
}

#totalAmount {
    font-weight: bold;
}

#box {
    margin-top: 30px;
    margin-left: 20%;   
}